:root {
    --primary-violet: #6f42c1;
}
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    margin: 0;
}


section {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1, h2 {
    color: var(--primary-violet);
    font-weight: 600;
    margin-bottom: 20px;
}

.navbar {
    background-color: var(--primary-violet);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}
.nav-logo {
    width: auto;
    object-fit: contain;
}
.ieee-logo img {
    height: 120px;
}
.event-logo {
    height: 85px;
}


.btn-primary {
    background-color: var(--primary-violet);
    border-color: var(--primary-violet);
}

.btn-primary:hover {
    background-color: #59339d;
    border-color: #59339d;
}
footer {
    background-color: #2d1b4f;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #ffffff; 

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.preloader-logo {
    width: 160px;
    animation: pulse 1.5s infinite ease-in-out;
}

#main-content {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }

}
